.ml-70{
  margin-left: 70px;
}
span{
  cursor: pointer;
}
.sort-selected::after{
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10x;
  display: inline-block;
}